.table-size{
    width:50%;
    margin: 0 auto;
}
.card {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    margin-left: 325px;
    margin-top: -185px;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  .styling{
    text-align: left;
    color:#F5343e;
  }
  .hover:hover{
     background-color: #f5f5f5;
  }
  .typo{
          color:#3b3b3b;

  }